.Wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.Header{
    width: 100%;
    height:25px;
    background: greenyellow;
    
}
.Container-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    width: 100%;
    height: 60%;
    background: yellow;
    padding-bottom: 2%;

}
.MainPic{
    display: flex;
    width: 70%;
    height: 90%;
    background: red;
}
.MainImageDisplay{
    height: 100%;
    width: 100%;
    
}
.Container-4{
    width: 100%;
    height: 40%;
    background: pink;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	align-items: center;
	align-content: space-around;

}
.SmallPic{
    width: 23%;
    height: 30%;
    padding: 1%;
}

.SmallImageDisplay{
    height: 100%;
    width: 100%;
}



