body {
    background: gray;
}
.Wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;

    
}
.Header{
    width: 100%;
    padding-top: 5px;
    height:10vh;
    display: flex;
}
.Container-3{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: stretch;
    justify-content: center

}
.Column1{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 0px;
}

.C1pic{
    width: 100%;
    display: block;
}
.Column2{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 0px;
}

.C2pic{
    width: 100%;
    display: block;
}
.Column3{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 0px;
}
.submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1px 32px;
    text-decoration: none;
    margin: 5px 80px;
    cursor: pointer;
    width: 200px;
    height: 50px;

}

.C3pic{
    width: 100%;
    display: block;
}

.Container-4{
    width: 100%;
    display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
    align-content: center;
    justify-content: flex-start;


}
.SmallPic{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px

}

.SmallImageDisplay{
    max-width: 100%;
    border-radius: 3px
}



