.landing{
    width: 100%;
    background-image: url(./bg.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh
}
.landingText{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 90%;
    justify-content: space-between;
}
.text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 3%;
    padding-bottom: 4%;
}
.headerposition{
    font-size: 40px;
    font-family: 'Hammersmith One';
    color: gray;
    padding-bottom: 2%;
}
.social{
    display:flex;
    flex-direction: column;
    font-family: 'Hammersmith One';
    justify-content: flex-end;
    padding-right: 6%;

}
.textposition {
    font-family: 'Hammersmith One';
    font-weight: lighter;
    color: gray;
}



/* use media queries to make responsive*/ 