ul {
    padding:10px;
    list-style: none;
}
.twitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#centeredmenu ul li a {
    margin:0 0 0 1px;
    padding:5px 10px;
    color:white;
    text-decoration:none;
    line-height:1.3em;
 }
 #centeredmenu ul li a:hover {
    color:black;
 }
 #centeredmenu ul li a.active,
 #centeredmenu ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
 } 