.Wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.NavBar{
    width: 100%;
    height: 20px;
}

.Container-1{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 70vh;
    padding-bottom: 2%;

}
.Container-2{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    width: 100%;
    height: 20vh;
}

.InfoPage{
    width: 80%;
    height: 90%;
    display: flex;
    flex-flow: row;
    background: white;
    border-radius: 3px;
    padding: 5px;
}

.InfoPageTextBody{
    display:flex;
    width: 50%;
    flex-direction: column;
}
.InfoPageHeader{
    height: 20%;
    font-family: 'Hammersmith One';
    font-size: 50px;

}

.InfoPageTextMain{
    height: 80%;
    font-family: 'Hammersmith One';
}

.InfoPicture{
    width: 50%;
    background-image: url(./bp_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.SmallBox1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 15px;
    font-family: 'Hammersmith One';
    font-weight: 100;
}

.SmallBox2{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 15px;
    font-family: 'Hammersmith One';
}
